@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* fade-in body */
body {
  opacity: 0;
  animation: fadeIn 0.1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
