@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
}

nav > div {
  /* center div */
  transform: translateX(calc(-50% + 50vw));
}
